<div data-ng-controller="CarAdsController">
    <h2>Car Listing</h2>
    <ul class="uilist-none grid__cell grid__cell--center margin-an padding-an">
        <li class="result result--listings nbfc margin-bm padding-ll padding-rmm" data-ng-repeat="carAds in model.carAdsList">
            <div class="relative highlight-none">                
                <a data-ng-href="/car/detail/{{ carAds.id}}" class="result--listings__listing result--listings__listing--a link-block">
                    <h1 class="result__title--new text-break text-normal margin-bn">{{carAds.carListed.make}} {{ carAds.carListed.model }} {{ carAds.carListed.year }}</h1>
                    <h2 class="result__sub-title--new result__sub-title--highlight margin-an">{{ getCarPriceTag(carAds.carListed) }}</h2>
                    <h2 class="result__sub-title--new result__sub-title--highlight margin-an">{{ carAds.listedDate | date:'medium' }}</h2>
                    <p>{{ carAds.comments}}</p>                    
                    <h5>Contact email address : {{ carAds.contactDetail.emailAddress}}</h5>
                    <h5 data-ng-if="carAds.contactDetail.dealerABN">Dealer ABN : {{ carAds.contactDetail.dealerABN}}</h5>
                    <h5 data-ng-if="carAds.contactDetail.contactName">Contact Name : {{ carAds.contactDetail.contactName}}</h5>
                    <h5 data-ng-if="carAds.contactDetail.phone">Phone : {{ carAds.contactDetail.phone}}</h5>
                </a>                
            </div>
        </li>
    </ul>
</div>