<div class="hero-unit">
    <h1>KK MVC4 demo</h1>
    <p>Please select Tab above for cars and enquiries</p>

    <div>
        <h2> Technology used :</h2>
        <ul>
            <li>.Net 4.5</li>
            <li>C# + MVC 4</li>            
            <li>AngularJS for javascript framework</li>
            <li>Autofac for IOC Container</li>
            <li>Elmah for Error Logging</li>
            <li>NUnit for Unit test</li>
            <li>Moq for Mocking framework</li>
            <li>Jasmine & Specflow for javascript unit test framework</li>
            <li>Spec runner for javascript test runner</li> 
            <li>Twitter Bootstrap for CSS style guide</li>
            <li>Nuget for Package Manager</li>
            <li>SOLID Principle</li>           
        </ul>
    </div>
    
    <p>For Server side rendering demo, please check it <a href="javascript:window.location.href='/OldCar';">HERE.</a></p>
</div>
