@model dynamic

@{
    ViewBag.Title = "title";    
}

<div class="hero-unit">
    <h1>KK MVC demo - server side render style</h1>
    <p>Please select Tab above for cars and enquiries</p>

    <div>
        <h2> Technology used :</h2>
        <ul>
            <li>.Net 4.5</li>
            <li>C# + MVC 4</li> 
            <li>Razor Template</li>            
            <li>Autofac for IOC Container</li>
            <li>Elmah for Error Logging</li>
            <li>NUnit for Unit test</li>
            <li>Moq for Mocking framework</li>
            <li>Twitter Bootstrap for CSS style guide</li>
            <li>Nuget for Package Manager</li>
            <li>SOLID Principle</li>           
        </ul>
    </div>
    
    For SPA Demo, please check it <a href="/">HERE.</a>
</div>
