/* ==========================================================================
   Touch target utilities
   ========================================================================== */

.t-target {
    border: none;
    position: absolute;
}

.t-target--header {
    width: 6rem;
    height: 5rem;
    padding: 0.1rem 0 0;
    margin: 0.3rem 0 0;
    left: 4%;
}

.t-target--header-alt {
    height: 4rem;
    right: 4%;
    left: auto;
}

.t-target--full {
    /* min-height should match .container */
    min-height: 54.9rem;
    width: 100%;
    z-index: 1;
}

.t-target--nav {
    position: static;
    width: 20%;
}
.t-target--nav-sml {
    position: static;
    width: 14%;
}
